script.
    window.$ = window.jQuery = require('jquery');
script(src="http://jh.localhost/assets/js/popper.min.js")
script(src="http://jh.localhost/assets/js/bootstrap.min.js")
script 
    include ../js/common.js