<!DOCTYPE html>
html(lang="es")
    include common/head.pug
    body.container-fluid.jh-center
        .row
            .col-6 
                a.jh-add
                    .fas.fa-tags
                    span.title tag
            .col-6 
                a.jh-add 
                    .far.fa-file-alt
                    span.title entrada
    include common/footer.pug